.App {
  text-align: center;
  box-sizing: border-box;
  padding: 5% 20%;
  li script {
  display: inline-block !important;
  margin: 0 10px !important;
  }
}

.brainfuck-step {
  align-items:right;
  padding-top:5%;
}
.brainfuck-script {
  padding-bottom: 5%;
}


.output {
  background-color: #eff0f1;
}

#container p { display: inline; }


html {
  box-sizing: border-box;
  padding: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}